/*
If the browser screen width is greater than 1200, display the first image on the top row (i.e., "Airplane Safety").
If the browser screen width is greater than 1000 pixels but less than or equal to 1200 pixels, display the second on the top row (i.e., "Elevator Safety").
If the browser screen width is greater than 800 pixels but less than or equal to 1000 pixels, display the third image on the top row (i.e., "Computerized Voting").
If the browser screen width is greater than 600 pixels but less than or equal to 800 pixels, display the first image on the second row (i.e., "Wait, Really?").
If the browser screen width is less than or equal to 600 pixels, display the last image, bottom-right (i.e., "Blockchain").
*/


/* Airplane Safety */
@media screen and (min-width: 1201px) {
  .software {
    width:430px;
    height:575px;
    background:url(software.png) 0px 0px;
    background-repeat: no-repeat;
  }
}

/* Elevator Safety */
@media screen and (min-width: 1001px) and (max-width: 1200px){
  .software {
    width:420px;
    height:575px;
    background:url(software.png) -450px 0px;
    background-repeat: no-repeat;
  }
}

/* Computerized Voting */
@media screen and (min-width: 801px) and (max-width: 1000px){
  .software {
    width:335px;
    height:575px;
    background:url(software.png) -870px 0px;
    background-repeat: no-repeat;
  }
}

/* Wait, Really? */
@media screen and (min-width: 601px) and (max-width: 800px){
  .software {
    width: 720px;
    height: 630px;
    background:url(software.png) 0px -585px;
    background-repeat: no-repeat;
  }
}

/* Blockchain */
@media screen and (max-width: 600px){
  .software {
    width: 485px;
    height: 630px;
    background:url(software.png) -720px -585px;
    background-repeat: no-repeat;
  }
}
